{% extends 'vocab/index.html' %}
{% block content %}
<div class="panel panel-default" style="margin:0px 20px">
    <div class="panel-body">
        <strong>Hi!</strong><br/><br/>
        This web-application was made by me and Emad. We made this site in 6 days and in the 7th day we rested.<br/><br/>
        Special Thanks to Behnam Akbari for words.<br/><br/>
        <span class="text-danger">
            <strong>We do NOT guarantee the word's definitions. But you can contribute to our words database.<!--if you aren't goshad--></strong>
        </span>
    </div>
</div>
{% endblock %}