{% extends 'vocab/index.html' %}
{% load staticfiles %}
{% block content %}
    <div id="previous-area" class="col-xs-1 empty-area" style="height:85%"></div>
    <div class="col-xs-10" style="height: 85%; border: 3px #000000; overflow: visible;padding:10px">
        <div id="current" class="card" style="left:0%">
            {% include 'vocab/card_content.html' %}
        </div>

        <div id="next" class="card" style="display: none; left:100%">
            {% include 'vocab/card_content.html' %}
        </div>
    </div>
    <div id="next-area" class="col-xs-1 empty-area" style="height:85%"></div>
{% endblock %}

{% block javascript %}
    <script src="{% static "vocab/js/js.js" %}"></script>
    <script type="text/javascript">
        var currentUnit = 0;
        var currentCard = 0;
        var mark;
        var all_words = [];
        var words = [];
        {% for entry in entries %}
            all_words.push({"word": "{{ entry.word }}", "unit": "{{ entry.unit.id }}", "id": "{{ entry.id }}", "edef": "{{ entry.definition_en|escapejs|default:"" }}", "fdef": "{{ entry.definition_fa|escapejs|default:"" }}", "example": "{{ entry.example|escapejs|default:"" }}"});{% endfor %}
        $(document).ready(function () {
            SetUnit(-1);
            $('#edit-button').on("click",function(){window.location.href = "/contribute?id="+words[currentCard]['id'];})
        })
    </script>
{% endblock %}
