{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="fa">
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, maximum-scale=1, user-scalabe=no">
    <link href="{% static 'vocab/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'vocab/css/css.css' %}" rel="stylesheet">
    <title></title>
</head>
<body>
{% include 'vocab/navigation.html' %}
<div class="container" style="height:100%">
    <div class="row card-container" style="height:100%">
        {% block content %}
        {% endblock %}
    </div>
</div>
<!-- Javascript-->
<script src="{% static "vocab/js/jquery-2.1.3.min.js" %}"></script>
<script src="{% static "vocab/js/bootstrap.min.js" %}"></script>
<script src="{% static "vocab/js/jquery.mobile.custom.min.js" %}"></script>
<script src="{% static "vocab/js/jquery.cookie.js" %}"></script>
<script src="{% static "vocab/js/jquery.transit.min.js" %}"></script>
{% block javascript %}
{% endblock %}
</body>
</html>