h1 {
    color: #000000;
}

h3 {
    color: #ffffff;
}

p {
    text-align: center;
    color: #800072;
    font-size: 50px;
    padding-top: 30px;
}

div.card {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    margin: auto;
    text-align: center;
    padding: 10%;
}

body {
    padding-top: 65px;
}

.word-edit-button {
    position:absolute;
    bottom:20px;
    right:20px;
    z-index: 10;
}

.empty-area {
    padding-left: 0px;
    padding-right: 0px;
}